.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 40px; */
    padding: 10px;
    /* padding: 10px; */
  }
  
  .top-page {
    color: #053cbb;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
  }
  
  .align-button {
    background-color: #053cbb;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
  }

  .footer-button {
    background-color: #053cbb;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    width: auto;
  }
  
  .favoritecheck {
    display: inline-block;
    margin-left: 300px;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    line-height: 25px;
    background-color: rgb(70, 243, 214);
    text-align: center;
  }
  
  .maincontainer {
    padding: 80px;
  }
  
  .urlcontainer {
    margin: 20px;
  }
  